
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Product</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">ADD PRODUCT</a>
      <a class="nav-item nav-link" routerLink="list">LIST PRODUCT</a>      
      <a class="nav-item nav-link" routerLink="login">LOGIN</a>
      <a class="nav-item nav-link" routerLink="register">REGISTER</a>
      <a class="nav-item nav-link" routerLink="search">SEARCH PRODUCT</a>
     
    </div>
  </div>
</nav>
<div  class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>Register your Product with us!</p>
  </footer>
</div>


